@use './utils/variables' as *;
@use './utils/mixin' as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: calc(100vw / 1920);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  background-color: $color-background;
  color: $color-label;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  user-select: none;
}

.button:active {
  transform: scale(0.95);
}

.app {
  width: 100%;

  @include desktop {
    padding: 40rem 80rem;
  }
}

.header {
  width: 100%;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__title {
  @include desktop {
    font-size: 49rem;
    transform: translateX(-4rem);
  }
}

.header__link {
  @include desktop {
    transform: translateX(4rem);
  }
}

.header__link-icon {
  @include desktop {
    width: 40rem;
    height: 40rem;
  }
}

.container {
  @include desktop {
    width: 100%;
    margin-top: calc(var(--vh, 1vh) * (80 / 9.69));
    display: flex;
  }
}

.canvas-container {
  @include desktop {
    display: flex;
  }
}

.graph-canvas {
  @include desktop {
    width: 720rem;
    height: 720rem;
    background-color: $color-canvas;
  }
}

.animation-canvas {
  @include desktop {
    width: 240rem;
    height: 720rem;
    margin-left: 36rem;
    background-color: $color-canvas;
  }
}

.interface-container {
  @include desktop {
    margin-left: 64rem;
  }
}

.controller-wrapper {
  @include desktop {
    display: flex;
  }
}

.animation {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 368rem;
    height: 160rem;
    padding: 16rem;
    background-color: $color-animation-container;
  }
}

.duration__label {
  @include desktop {
    font-size: 25rem;
  }
}

.duration__input {
  @include desktop {
    padding: 4rem 8rem;
    font-size: 20rem;
    text-align: center;
    background-color: $color-input;
    border: 1px solid $color-border;
    margin-left: 8rem;
  }
}

.duration__range {
  @include desktop {
    display: block;
    margin-top: 10rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: $color-range;
    border: 1px solid $color-border;
    height: 10rem;
  }
}

.duration__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20rem;
  width: 20rem;
  background-color: $color-range;
  border-radius: 50%;
  transform: translateY(-1rem);
}

.duration__range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20rem;
  width: 20rem;
  background-color: $color-range;
  border-radius: 50%;
}

.animation__button {
  @include desktop {
    font-size: 25rem;
    width: 100%;
    padding: 8rem 0;
    background-color: $color-button;
    color: $color-button-text;
    border: 1px solid $color-border;
  }
}

.copy {
  @include desktop {
    position: relative;
    width: 316rem;
    height: 160rem;
    margin-left: 16rem;
    background-color: $color-copy-field;
    border: 1px solid $color-border;
  }
}

.copy__text-wrapper {
  @include desktop {
    width: 100%;
    height: 100%;
    padding: 20rem;
    overflow: auto;
  }
}

.copy__text-wrapper::-webkit-scrollbar {
  width: 8rem;
  height: 8rem;
  background-color: $color-copy-field
}

.copy__text-wrapper::-webkit-scrollbar-thumb {
  background-color: $color-background;
}

.copy__text {
  @include desktop {
    font-size: 16rem;
    line-height: 1.2;
    white-space: pre;
    color: $color-black;
  }
}

.copy__button {
  @include desktop {
    position: absolute;
    top: 8rem;
    right: 16rem;
    width: 32rem;
    height: 32rem;
    background-color: transparent;
    border: none;
  }
}

.copy__button-icon {
  @include desktop {
    width: 100%;
    height: 100%;
  }
}

.function {
  @include desktop {
    margin-top: 40rem;
    width: 100%;
  }
}

.function__label {
  @include desktop {
    font-size: 25rem;
  }
}

.function__input-wrapper {
  @include desktop {
    position: relative;
    width: 100%;
    margin-top: 10rem;
  }
}

.function__input {
  @include desktop {
    width: 100%;
    padding: 12rem 8rem;
    font-size: 25rem;
    background-color: $color-input;
    border: 1px solid $color-border;
    color: $color-black;
  }
}

.function__input.is-invalid {
  border: 1px solid $color-error;
}

.function__clear-button {
  @include desktop {
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    width: 32rem;
    height: 32rem;
    background-color: transparent;
    border: none;
  }
}

.function__clear-icon {
  @include desktop {
    width: 100%;
    height: 100%;
  }
}

.function__button-wrapper {
  @include desktop {
    display: flex;
    margin-top: 30rem;
  }
}

.function__operator-button-wrapper {
  @include desktop {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem 12rem;
  }
}

.function__operator-button {
  @include desktop {
    display: grid;
    place-items: center;
    width: 84rem;
    height: 52rem;
    font-size: 25rem;
    background-color: $color-button;
    border: 1px solid $color-border;
    color: $color-button-text;
  }
}

.function__easing-button-wrapper {
  @include desktop {
    margin-left: 40rem;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem 12rem;
  }
}

.function__easing-button {
  @include desktop {
    display: grid;
    place-items: center;
    width: 152rem;
    height: 52rem;
    background-color: $color-button;
    border: 1px solid $color-border;
    font-size: 20rem;
    color: $color-button-text
  }
}
