$background-color: #e0e0e0;
$animation-panel-color: #ccc;
$border-color: #adadad;
$interface-color: #f0f0f0;
$input-color: #f5f5f5;
$invalid-color: #ff0000;
$text-color: #474747;
$copy-color: #e6eef5;
$canvas-color: #2e2e2e;